In [27]:
import pandas as pd
from util.util import get_root_dir

In [28]:
proj_dir = get_root_dir() + "/superstructure/case_study/"
df_raw = pd.read_csv(proj_dir + "data/pyro_raw.csv")
df_raw

   Unnamed: 0         #2         #9        #3      #4         #1         #6
0         NaN        NaN        NaN       NaN     NaN        NaN        NaN
1          H2   0.026000   0.022000   0.01100   0.029   0.015000   0.008100
2         C1A   0.190000   0.190000   0.33000   0.340   0.420000   0.340000
3         C2A   0.340000   0.310000   0.58000   0.670   0.900000   0.960000
4         C3A   0.440000   0.360000   0.41000   0.450   0.450000   0.430000
5         C4A   0.223900   0.173900   0.14500   0.124   0.082000   0.074000
6         C2E   0.460000   0.440000   0.54000   0.390   0.310000   0.260000
7         C3E   0.530000   0.530000   1.80000   2.300   3.500000   3.800000
8         C4E   0.417000   0.381000   0.71700   0.808   1.168100   1.106400
9       Total   2.600000   2.400000   4.50000   5.100   6.800000   6.900000
10        NaN        NaN        NaN       NaN     NaN        NaN        NaN
11         C5   0.650000   0.570000   1.70000   2.300   3.500000   3.200000
12         C6   1.200000   1.200000   1.90000   2.000   3.000000   3.000000
13         C7   1.000000   1.100000   1.00000   0.860   1.100000   1.100000
14         C8   0.670000   0.660000   0.88000   0.770   0.990000   0.860000
15         C9   0.650000   0.700000   3.80000   5.100  10.000000  10.700000
16        C10   0.840000   0.840000   1.00000   0.910   1.000000   1.100000
17        C11   0.770000   0.770000   0.73000   0.630   0.630000   0.640000
18        C12   0.680000   0.680000   0.94000   0.980   1.500000   1.600000
19        C13   0.630000   0.630000   0.69000   0.710   0.800000   0.780000
20    C14-C20   3.300000   3.400000   4.30000   2.600   5.600000   5.700000
21       %A:E   0.454545   0.455882   0.29661   0.300   0.209091   0.189427
22      Total  13.200000  13.700000  19.40000  23.200  36.700000  35.400000
23        NaN        NaN        NaN       NaN     NaN        NaN        NaN
24       C21A   2.100000   2.500000   2.10000   2.100   2.200000   2.500000
25       C22A        NaN        NaN       NaN     NaN        NaN        NaN
26      Total  84.000000  83.700000  76.00000  71.500  56.200000  57.500000

In [29]:
df_raw.set_index(df_raw.columns[0], inplace=True)
df_raw = df_raw.drop(columns=["#2", "#6"])
df_raw

                   #9        #3      #4         #1
Unnamed: 0
NaN               NaN       NaN     NaN        NaN
H2           0.022000   0.01100   0.029   0.015000
C1A          0.190000   0.33000   0.340   0.420000
C2A          0.310000   0.58000   0.670   0.900000
C3A          0.360000   0.41000   0.450   0.450000
C4A          0.173900   0.14500   0.124   0.082000
C2E          0.440000   0.54000   0.390   0.310000
C3E          0.530000   1.80000   2.300   3.500000
C4E          0.381000   0.71700   0.808   1.168100
Total        2.400000   4.50000   5.100   6.800000
NaN               NaN       NaN     NaN        NaN
C5           0.570000   1.70000   2.300   3.500000
C6           1.200000   1.90000   2.000   3.000000
C7           1.100000   1.00000   0.860   1.100000
C8           0.660000   0.88000   0.770   0.990000
C9           0.700000   3.80000   5.100  10.000000
C10          0.840000   1.00000   0.910   1.000000
C11          0.770000   0.73000   0.630   0.630000
C12          0.680000   0.94000   0.980   1.500000
C13          0.630000   0.69000   0.710   0.800000
C14-C20      3.400000   4.30000   2.600   5.600000
%A:E         0.455882   0.29661   0.300   0.209091
Total       13.700000  19.40000  23.200  36.700000
NaN               NaN       NaN     NaN        NaN
C21A         2.500000   2.10000   2.100   2.200000
C22A              NaN       NaN     NaN        NaN
Total       83.700000  76.00000  71.500  56.200000

In [30]:
df_gas = df_raw.iloc[1:10]
df_gas

                #9     #3     #4      #1
Unnamed: 0
H2          0.0220  0.011  0.029  0.0150
C1A         0.1900  0.330  0.340  0.4200
C2A         0.3100  0.580  0.670  0.9000
C3A         0.3600  0.410  0.450  0.4500
C4A         0.1739  0.145  0.124  0.0820
C2E         0.4400  0.540  0.390  0.3100
C3E         0.5300  1.800  2.300  3.5000
C4E         0.3810  0.717  0.808  1.1681
Total       2.4000  4.500  5.100  6.8000

In [31]:
df_gas_processed = df_gas.drop(["Total"])

In [32]:
df_oil = df_raw.iloc[11:23]
df_oil

                   #9        #3     #4         #1
Unnamed: 0
C5           0.570000   1.70000   2.30   3.500000
C6           1.200000   1.90000   2.00   3.000000
C7           1.100000   1.00000   0.86   1.100000
C8           0.660000   0.88000   0.77   0.990000
C9           0.700000   3.80000   5.10  10.000000
C10          0.840000   1.00000   0.91   1.000000
C11          0.770000   0.73000   0.63   0.630000
C12          0.680000   0.94000   0.98   1.500000
C13          0.630000   0.69000   0.71   0.800000
C14-C20      3.400000   4.30000   2.60   5.600000
%A:E         0.455882   0.29661   0.30   0.209091
Total       13.700000  19.40000  23.20  36.700000

In [33]:
df_wax = df_raw.iloc[24:27]
df_wax_processed = df_wax.copy()

for column in df_wax_processed.columns:
    df_wax_processed.loc["C22A", column] = df_wax.loc["Total", column] - df_wax.loc["C21A", column]
df_wax_processed = df_wax_processed.drop(["Total"])

In [34]:
# Create a copy of the DataFrame
df_oil_copy = df_oil.copy()

# Equal distribution of C14-C20 values
for component in range(14, 21):  # From C14 to C20
    df_oil_copy.loc[f'C{component}'] = df_oil_copy.loc['C14-C20'] / 7

# Reorder the DataFrame and remove the 'C14-C20' row
df_oil_reordered = df_oil_copy.reindex(['C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13',
                                        'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20',
                                        '%A:E', 'Total', 'C14-C20'])
df_oil_reordered = df_oil_reordered.drop('C14-C20')

print(df_oil_reordered)

                   #9         #3         #4         #1
Unnamed: 0
C5           0.570000   1.700000   2.300000   3.500000
C6           1.200000   1.900000   2.000000   3.000000
C7           1.100000   1.000000   0.860000   1.100000
C8           0.660000   0.880000   0.770000   0.990000
C9           0.700000   3.800000   5.100000  10.000000
C10          0.840000   1.000000   0.910000   1.000000
C11          0.770000   0.730000   0.630000   0.630000
C12          0.680000   0.940000   0.980000   1.500000
C13          0.630000   0.690000   0.710000   0.800000
C14          0.485714   0.614286   0.371429   0.800000
C15          0.485714   0.614286   0.371429   0.800000
C16          0.485714   0.614286   0.371429   0.800000
C17          0.485714   0.614286   0.371429   0.800000
C18          0.485714   0.614286   0.371429   0.800000
C19          0.485714   0.614286   0.371429   0.800000
C20          0.485714   0.614286   0.371429   0.800000
%A:E         0.455882   0.296610   0.300000   0.209091
Total       13.700000  19.400000  23.200000  36.700000

In [35]:
df_oil_processed = df_oil_reordered.copy()

# Normalize C5 to C20 based on 'Total'
for component in ['C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20']:
    df_oil_processed.loc[component] = df_oil_reordered.loc[component] / df_oil_reordered.loc['C5':'C20'].sum() * df_oil_reordered.loc['Total']

# Distribute components into A and E categories based on %A:E
for column in df_oil_processed.columns:
    a_ratio = df_oil_reordered.loc['%A:E', column] / (df_oil_reordered.loc['%A:E', column] + 1)
    e_ratio = 1 / (df_oil_reordered.loc['%A:E', column] + 1)
    for component in range(5, 21):  # C5 to C20
        total_value = df_oil_reordered.loc[f'C{component}', column]
        df_oil_processed.loc[f'C{component}A', column] = df_oil_processed.loc[f'C{component}', column] * a_ratio
        df_oil_processed.loc[f'C{component}E', column] = df_oil_processed.loc[f'C{component}', column] * e_ratio

# Drop the original C5 to C20 rows and the 'Total' row, as they are no longer needed
df_oil_processed = df_oil_processed.drop(['%A:E','C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'Total'])

df_oil_processed

                  #9        #3        #4         #1
Unnamed: 0
C5A         0.231777  0.445363  0.730359   0.789942
C5E         0.508413  1.501509  2.434529   3.777982
C6A         0.487951  0.497758  0.635094   0.677093
C6E         1.070343  1.678157  2.116981   3.238270
C7A         0.447288  0.261978  0.273091   0.248267
C7E         0.981148  0.883240  0.910302   1.187366
C8A         0.268373  0.230541  0.244511   0.223441
C8E         0.588689  0.777252  0.815038   1.068629
C9A         0.284638  0.995517  1.619491   2.256976
C9E         0.624367  3.356313  5.398303  10.794233
C10A        0.341565  0.261978  0.288968   0.225698
C10E        0.749240  0.883240  0.963227   1.079423
C11A        0.313102  0.191244  0.200055   0.142189
C11E        0.686804  0.644765  0.666849   0.680037
C12A        0.276505  0.246259  0.311196   0.338546
C12E        0.606528  0.830246  1.037321   1.619135
C13A        0.256174  0.180765  0.225459   0.180558
C13E        0.561930  0.609436  0.751528   0.863539
C14A        0.197504  0.160929  0.117946   0.180558
C14E        0.433234  0.542562  0.393154   0.863539
C15A        0.197504  0.160929  0.117946   0.180558
C15E        0.433234  0.542562  0.393154   0.863539
C16A        0.197504  0.160929  0.117946   0.180558
C16E        0.433234  0.542562  0.393154   0.863539
C17A        0.197504  0.160929  0.117946   0.180558
C17E        0.433234  0.542562  0.393154   0.863539
C18A        0.197504  0.160929  0.117946   0.180558
C18E        0.433234  0.542562  0.393154   0.863539
C19A        0.197504  0.160929  0.117946   0.180558
C19E        0.433234  0.542562  0.393154   0.863539
C20A        0.197504  0.160929  0.117946   0.180558
C20E        0.433234  0.542562  0.393154   0.863539

In [36]:
# df_oil_reordered.loc['C5A':'C20E'].sum()
df_oil_processed.loc["C5A":"C20E"].sum()

#9    13.7
#3    19.4
#4    23.2
#1    36.7
dtype: float64

In [37]:
reaction_data = pd.concat([df_gas_processed, df_oil_processed, df_wax_processed], axis=0)

In [38]:
reaction_data =  reaction_data/100

In [39]:
reaction_data.to_csv('data/pyro_dat.csv')